<!-- Header Part -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Blogs</title>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="blog-header-logo text-dark" href="/">Django Blog</a>
          </div>
          <div class="col-4">
            <form action="{% url 'search' %}" method="GET">
              <div class="input-group">
                <input class="form-control" type="text" name="keyword" value="{{ keyword }}" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                <button type="submit" class="btn btn-warning" id="button-search" type="button">Go!</button>
            </div>
            </form>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            {% if not user.is_authenticated %}
            <a class="btn btn-sm btn-warning" href="{% url 'login' %}">Login</a> &nbsp;
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'register' %}">Register</a>
            {% else %}
            <span><a href="{% url 'dashboard' %}">Dashboard</a></span>
            &emsp;
            
            <span><a href="{% url 'logout' %}">Logout</a></span>
            {% endif %}
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          {% for cat in categories %}
          <a class="p-2 text-muted" href="{% url 'posts_by_category' cat.id %}">{{ cat.category_name }}</a>
          {% endfor %}
        </nav>
      </div>

<!-- Main Content Part -->
{% block content %}

{% endblock %}

<!-- Footer Part -->
<footer class="blog-footer">
    <p>Django blog built with 💖 by <a href="#">Rathan Kumar</a></p>
  </footer>
  </body>
  </html>