{% extends 'base.html' %}

{% block content %}

<div class="row">
    <!-- Left sidebar -->
    <!-- load the sidebar here -->
    {% include 'dashboard/sidebar.html' %}

    <!-- Right side content -->
    <div class="col-md-9">
        <span>Logged in as <b>{{ user }}</b></span>
        <div class="row">
            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">All Categories</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title text-center">{{ category_count }}</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">All posts</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title text-center">{{ blogs_count }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}