<div class="col-md-3">
    <div class="nav flex-column nav-pills bg-light" aria-orientation="vertical">
        <a href="{% url 'dashboard' %}" class="nav-link text-dark {% if '/dashboard/' == request.path %}bg-warning{% endif %}">Dashboard</a>
        <a href="{% url 'categories' %}" class="nav-link text-dark {% if '/categories/' in request.path %}bg-warning{% endif %}">Categories</a>
        <a href="" class="nav-link text-dark">Posts</a>
        <a href="" class="nav-link text-dark">Logout</a>
    </div>
</div>